{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "lib": "./lib",
          "config": "./config"
        }
      }
    ],
  ],
  "presets": ["env"]
}
